.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bi-github:hover {
  color:#FFFFFF;
  transition: 0.3s;
}

.bi-linkedin:hover {
  color:#0053b1;
  transition: 0.3s;
}

.h1Text {
  /* font-size: 60px; */
  font-size: calc(40px + 2vmin);
}
.h2Text {
  /* font-size: 30px; */
  font-size: calc(13px + 2vmin);
}
.h3Text {
  /* font-size: 25px; */
  font-size: calc(10px + 2vmin);
}
.h4Text {
  /* font-size: 25px; */
  color:white;
  font-size: 18px;
}

.h1TextAnim {
  /* font-size: 60px; */
  font-size: calc(40px + 2vmin);
  opacity: 0;
  animation: fadeAnimation 1s ease-in-out forwards;
  animation-delay:0.5s;
}

.h2TextAnim {
  /* font-size: 60px; */
  font-size: calc(40px + 2vmin);
  opacity: 0;
  animation: fadeAnimation 1s ease-in-out forwards;
  animation-delay:0.5s;
}

.h3TextAnim {
  /* font-size: 60px; */
  font-size: calc(40px + 2vmin);
  opacity: 0;
  animation: fadeAnimation 1s ease-in-out forwards;
  animation-delay:0.5s;
}

.divAnim {
  /* font-size: 60px; */
  /* font-size: calc(40px + 2vmin); */
  opacity: 0;
  animation: fadeAnimation 1.5s ease-in-out forwards;
  animation-delay:1.5s;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h2TextAnim {
  /* font-size: 30px; */
  font-size: calc(13px + 2vmin);
}
.h3TextAnim {
  /* font-size: 25px; */
  font-size: calc(10px + 2vmin);
}

::-webkit-scrollbar {
  width: 0.1px;
  background-color: transparent;
}

.hover-button {
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out;
  animation: hoverAnimation 1s infinite;
}

@keyframes hoverAnimation {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}